[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
os = "*"
metatrader5 = "*"
datetime = "*"
time = "*"
pandas = "*"
numpy = "*"
"matplotlib.pyplot" = "*"
ta = "*"
sklearn = "*"
pytz = "*"
colorama = "*"
uuid = "*"

[dev-packages]

[requires]
python_version = "3.12"
